# Logbook Bot Configuration
# Copy this file to .env and modify the values as needed

# Login credentials Binus & Kalbe Account
EMAIL=your.email@binus.ac.id
PASSWORD=your_password

# Clock in and out times (12-hour format: HH:MM am or pm)
CLOCK_IN_TIME="08:00 am"
CLOCK_OUT_TIME="05:00 pm"

# Gemini API key (Required for Generate Monthly Report)
GEMINI_API_KEY=your_gemini_api_key

# Optional Defaults
LOGBOOK_MONTH=SEP
INTERNSHIP_SEMESTER=ODD
